* {
    text-align: center !important;
    margin: auto !important;
    padding: 5px;
}

html {
    box-sizing: border-box;
}

.app {
    max-width: 550px;
}

.auth-title {
    font-size: xx-large;
}

.bordered {
    border: 1px solid hsl(var(--pf));
    border-radius: 10px;
}